body{
    background: rgb(50, 83, 233);
    font: 15pt normal;
}
header{
    color: white;
    text-align: center;
}
section{
    width: 500px;
    background: white;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);  
    font: 12pt normal;
}

section:hover {
    width: 550px;
    transition: 1s;
    font: 17pt normal;
}
img#sla {
    margin-left: 30%;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}